<div class="container" id="aboutdiv">
<br>
<br>
<br>
<hr>
<h3>Gallery</h3>
<div class="row">
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
</div>
<div class="row">
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
</div>
<div class="row">
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
</div>
<div class="row">
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
</div>
<div class="row">
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
<div class="col-xs-4 gallerydiv"><img src="../images/imgexample.jpg" ></div>
</div>
</div>